h1 {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
}

button {
  margin-left: 50px;
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
